<div class="bg-anuprerna-350 h-svh p-20">
    <div class=" h-52 max-w-4xl mx-auto  shadow-2xl  bg-anuprerna-200 text-anuprerna-250">
        <h2 class="text-xl m-0 mb-4 p-2 pl-4 font-mulish bg-anuprerna-100">Order Overview</h2>
        <div class="max-w-screen-xl bg-anuprerna-400 ml-5 mr-5 mt-14 rounded-full h-1 relative">
            <div class="bg-anuprerna-10 h-1 rounded-full " style="width: 40%">
                <span class="material-icons text-anuprerna-10 absolute top-1 left-[3%] ">check_circle</span>
                <span class="material-icons text-anuprerna-10 absolute top-1 left-[21%] ">check_circle</span>
                
                <span class=" w-5 h-5 absolute top-1.5 left-[40%]">

                    <div class="absolute inset-0 rounded-full bg-anuprerna-10 border border-anuprerna-10 "></div>

                    <div class="absolute inset-0 rounded-full bg-anuprerna-200 border border-anuprerna-10 " 
                         style="clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);"></div>
                </span>
                <span class="w-5 h-5 absolute top-1.5 left-[58%]"> 
                    <div class="absolute inset-0 rounded-full bg-anuprerna-200 border border-anuprerna-10 "></div>
                </span>
                <span class="w-5 h-5 absolute top-1.5 left-[76%]"> 
                    <div class="absolute inset-0 rounded-full bg-anuprerna-200 border border-anuprerna-10 "></div>
                </span>
                <span class="w-5 h-5 absolute top-1.5 left-[94%]"> 
                    <div class="absolute inset-0 rounded-full bg-anuprerna-200 border border-anuprerna-10 "></div>
                </span>
            </div>
        </div>
        <div class="flex justify-between mt-2 pl-7 pr-7 pt-4 text-sm text-gray-500 font-mulish">
            <div class="text-anuprerna-10">Process 1</div>
            <div class="text-anuprerna-10">Process 2</div>
            <div class="">Process 3</div>
            <div>Process 4</div>
            <div>Process 5</div>
            <div>Process 6</div>
            
    </div>
</div>
